# Block packages published less than 7 days ago to avoid zero-day attacks
min-release-age=7

# Disable automatic scripts during install to block malicious execution (RAT protection)
ignore-scripts=true

# Save exact versions in package.json by default (removes ^ and ~ symbols)
save-exact=true