@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Sniglet&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme="dark"] {
  --bg-main: #000000;
  --bg-nav: #000000;
  --text-primary: #EEF5FB;
  --text-nav: #EEF5FB;
  --nav-active: #06D6A0;
  --padding-nav:0.01rem 3rem;
  --rounded-button: #06D6A0;
  --dark-red: #8b0000;
  --light-red: #EF476F;
  --error: #EF476F;
}

:root[data-theme="light"] {
  --bg-main: #EEF5FB;
  --bg-nav: #EEF5FB;
  --text-primary: #07384C;
  --text-nav: #07384C;
  --nav-active: #8b0000;
  --padding-nav:0.5rem 3rem;
  --rounded-button: #118AB2;
  --dark-red: #8b0000;
  --light-red: #EF476F;
  --error: #8b0000;
}

body {
  background: 
  radial-gradient(ellipse at top left, #06D6A0 0%, transparent 30%),
  radial-gradient(ellipse at bottom right, #06D6A0 0%, transparent 35%),
  var(--bg-main);
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
}

main {
  min-height: 100vh;
  margin: auto;
  width: 75%;
}